{% extends 'base.html' %}

{% block content %}

<style type="text/css">

	@media (max-width: 768px) { 
		.right-column{
			margin-left: 0px;
		}
	}

	@media (min-width: 768px) { 
		.right-column{
			margin-left: 20px;
		}
	}

	.blog-post-container{
		background-color: #fff;
		margin-bottom: 20px;
		width: 100%;
	}
	.create-post-bar{
		background-color: #fff;
		margin-bottom:20px;
	}

	.left-column{
		padding:0px;
	}

	.right-column{
		padding:0px;
	}

</style>


<div class="container">

    <div class="starter-template">
        <h1>Holly's bar</h1>
        <p class="lead">You will see how amazing Holly's bar is.<br> Wow, I built all of this with Django.</p>
        
        {% if request.user.is_authenticated %}
            <!-- <p><a href="{% url 'home' %}">Home</a> | 
            <a href="{% url 'account' %}">Account</a> |
            <a href="{% url 'logout' %}">Logout</a></p> -->

            <p class="lead">Hello, {{request.user.username}}.<br>It's so good to see you!</p>
            
            <h3>You are in good company! <br>Here the registered users:</h3>        
            {% for account in accounts %}
                <p>{{account}}</p>
            {% endfor %}
            
            {% else %}

            <!--
            <p>
            <a href="{% url 'home' %}">Home</a> | 
            <a href="{% url 'register' %}">Register</a> | 
            <a href="{% url 'login' %}">Login</a>
            </p>-->
        {% endif %}
        <br>

        <!-- Blog feed -->
        <div class="left-column col-lg-8 offset-lg-1"  style="border: 1px solid #000;">
            <div class="blog-post-container">
                <p>Thingy</p>
            </div>

            <div class="blog-post-container">
                <p>Thingy</p>
            </div>

            <div class="blog-post-container">
                <p>Thingy</p>
            </div>

            <div class="blog-post-container">
                <p>Thingy</p>
            </div>
        </div>
        <!-- End Blog feed -->

        <!-- Right "create post" column -->
        <div class="right-column col-lg-3 d-lg-flex d-none flex-column"  style="border: 1px solid #000;">
            <div class="create-post-bar">
                <p> Stuff </p>
                <p> Stuff </p>
                <p> Stuff </p>
                <p> Stuff </p>
                <a href="#">Create post</a>
            </div>
        </div>
        <!-- End Right "create post" column -->

    </div>
</div><!-- /.container -->

{% endblock content %}