<!DOCTIPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>This is Holly's bar!</title>

    {% include 'snippets/header.html' %}

</head>

<body>

    <!-- Body -->
    <style type="text/css">
        .main{
            min-height: 100vh;
            height:100%;
        }
    </style>

    <div class="main">
        {% block content %}

        {% endblock content %}
    </div>
    <!-- End Body -->

    {% include 'snippets/footer.html' %}
</body>

</html>